<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
  {{>navbar}}


        <!-- main header -->

 <div class="containter-fluid main_header">

    <div class="row">
 
            <div class="col-md-10 col-12 mx-auto">
 
                    <div class="row"> 
                        <!-- left side div -->
                        <div class="col-md-6 col-12 main_header_right">
                            <figure>
         
                                <img src="images/bg12.jpg" alt="somya" class="img-fluid" title="your weather">
                            </figure>
                            </div>
 
                     <div class="col-md-6 col-12 main_header_left" >
                    <p>Welcome to the Weather Channel!</p>
                    <p>Introducing our React-powered weather app: Stay informed with accurate and up-to-date weather information. </p>
                    <!-- <a href="/weather"><button class="but">check now</button></a> -->
                </div>
                        <!-- right side div -->
 
                  
 
            </div>
 
    </div>
    {{>footer}}
</div> 
</div>
</body>
</body>
</body>
            

</body>
</html>